.jdl{
	background-color : black; 
	color: white;
	line-height : 1.5cm;
	text-align : center;
}
.btn{
	background-color: green;
	border: none;
	border-radius : 4px;
	line-height: 1cm;
	color: white;
}
.eh {
	word-spacing: 1cm;
}
.t {
	border-radius: 4px;
	line-height: 1cm;
}
.link {
	color: blue;
	word-spacing: 1.5cm;
	text-decoration : none;
}
.link1 {
	color: red;
	word-spacing:1.5cm;
	text-decoration: none;
}


